<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BULink</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/menu.css">
    <link rel="icon" sizes="any" href="/static/media/menu/lightblue-logo.png">
    <script src="/static/scripts/pop-up.js"></script>
    <script src="/static/scripts/users.js"></script>
    <script src="/static/scripts/rooms.js"></script>
    <script src="/static/scripts/toolbar.js"></script>
</head>
<body>
<div>
    <div class="toolbar">
        <div class="logo-toolbar">
            <div class="square-logo"></div>
        </div>

        <div id="header1" class="header">
            <p align="center" style="user-select: none; color: #ffffff;">
                Главная страница
            </p>
        </div>

        <div id="about" class="round-button" onclick="about()">
            <div class="round-logo">
                <img class="logo" alt="about" src="/static/media/menu/about.png">
            </div>
        </div>

        <div id="settings" class="round-button" onclick="settings()">
            <div class="round-logo">
                <img class="logo" alt="setting" src="/static/media/menu/settings.png">
            </div>
        </div>

        <form action="/logout" method="POST">
            <button style="background: transparent">
                <div id="logout" class="round-button">
                    <div class="round-logo">
                        <img class="round-logo" alt="logout" src="/static/media/menu/logout.png">
                    </div>
                </div>
            </button>
        </form>

        <div id="pop-up" class="round-button" onclick="popUp()">
            <div class="round-logo">
                <img class="round-logo" alt="pop-up" src="/static/media/menu/open-menu.png">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="left-menu">
            <div class="finder-square">
                <input type="text" class="user-finder" id="user-finder" oninput="findUser()"
                       placeholder="Search for users" title="Type user's login"/>
                <span id="delete-users-list" class="delete-list" onclick="deleteUsersList()">&times;</span>
            </div>
            <div id="users-list" class="users-list">
                <% all_users.forEach (this_user => { %>
                    <div class="user">
                        <p class="name"> <%= this_user.name %> </p>
                        <div class="offline"></div>
                        <% if (user.login === this_user.login) { %>
                            <div class="online"></div>
                        <% } else {%>
                            <% for (let i = 0; i < online_users.length; i++){ %>
                                <% if (this_user.login === online_users[i].login){ %>
                                    <div class="online"></div>
                                    <% break %>
                                <% } %>
                            <% } %>
                        <% } %>
                        <p class="route"> <%= this_user.avatar %> </p>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="right-menu">
            <div class="finder-square">
                <input type="text" id="ChatFinder" oninput="findRoom()"
                       placeholder= "Search for chat" title="Type chat's name"/>
                <span id="delete-rooms-list" class="delete-list" onclick="deleteRoomsList()">
                            &times;
                </span>
            </div>
            <form action="/" method="POST">
                <div class="finder-square" id="adder">
                    <input type="text" name="room" id="AddRoom" maxlength="50"
                           placeholder= "Add new room" title= "Type room's name"/>
                    <span id="delete-add-list" class="delete-list" onclick="deleteAddList()">
                                &times;
                    </span>
                </div>
                <button type="submit" class="plus"></button>
            </form>
            <div id="rooms-list" class="rooms-list">

                <% rooms.forEach (room => { %>
                    <a href="/<%= room %>">
                        <div class="room">
                            <p class="room-name"> <%= room %> </p>
                            <p class="last-message">Name: Last message!</p>
                        </div>
                    </a>
                <% }) %>

                <!--                        тут будут комнаты-->
            </div>
        </div>
    </div>
</div>
<div id="about-modal" class="modal">
    <div class="body-modal">
        <div class="top-strip">
            <p class="top-text">About</p>
        </div>
        <div class="bottom-strip">
            <p class="bottom-text">Coming soon...</p>
            <div class="loader"></div>
        </div>
        <span class="close" onclick="closeModal('about-modal')">
                    &times;
                </span>
    </div>
</div>
<div id="settings-modal" class="modal">
    <div class="body-modal">
        <div class="top-strip">
            <p class="top-text">Settings</p>
        </div>
        <div class="bottom-strip">
            <p class="bottom-text">Coming soon...</p>
            <div class="loader"></div>
        </div>
        <span class="close" onclick="closeModal('settings-modal')">
                    &times;
                </span>
    </div>
</div>
</body>
<script src="/static/scripts/add-users.js"></script>
<script src="/static/scripts/add-rooms.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let username = "<%= user.name %>";
    let login = "<%= user.login %>";

    socket.emit("logged in", {user: username, login: login});

</script>
</html>